<%- include header %>
<section id="main">
   <div class="container">
      <div class="row">
         <div class="col-md-10 col-md-offset-1">
            <div>
               <h1><%= post.title %></h1>
               <p class="lead">by <a href="/user/<%= post.name %>"><%= post.name %></a></p>
               <hr><span>tags：</span>
               <% post.tags.forEach(function(tag, index){ %>
               <% if(tag){  %>
               <span><a href="/tags/<%= tag %>"><%= tag %></a></span>
               <% } %>
               <% }) %>
            </div>
            <hr>
            <div class="well">
                <% if ( user && (user.name == post.name) ) { %>
                <span> <a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">編輯</a></span>
                <span> <a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">刪除</a></span>
                <% } %>
                <% var flag = 1 ; %>
                <% if ( user && (user.name != post.name) ) { %>
                    <% if ( ( post.reprint_info.reprint_from.name != null ) && ( user.name == post.reprint_info.reprint_from.name ) ){ %>
                        <% flag = 0 ; %>
                    <% } %>
                    <% if( (post.reprint_info.reprint_to != null) ){ %>
                        <% post.reprint_info.reprint_to.forEach( function(reprint_to, index) { %>
                            <% if (user.name == reprint_to.name){ %>
                                    <% flag = 0 ; %>
                            <% } %>
                        <% }) %>
                    <% } %>
                <% }else{ %>
                    <% flag = 0 ; %>
                <% } %>
                <% if(flag){ %>
                    <span> <a class="edit" href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">轉載</a></span>
                <% } %>
                <hr><p><%- post.post %></p>

                <br>
                <%function checkstar(){ %>

                  <%if((post.starname.length == 0)) return true;%>
                  <% post.starname.forEach(function(name, index){ %>

                    <% if(user.name != name){  %>
                      <% return true; %>
                      <% console.log(user.name != name)%>
                      <% } %>
                      <% }) %>
                        <% return false; %>


                  <% }; %>

                  <% if(checkstar()){  %>
                    <% console.log(checkstar())%>
                    <button type="button" class="btn btn-default btn-lg" onclick="star('<%= post.name %>','<%= post.time.day %>','<%= post.title %>','<%= user.name %>',1)">
                      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Star <%= post.star %>
                    </button>
                  <% }else{ %>
                    <% console.log(checkstar())%>
                    <button type="button" class="btn btn-default btn-lg" onclick="star('<%= post.name %>','<%= post.time.day %>','<%= post.title %>','<%= user.name %>',-1)">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> unStar <%= post.star %>
                    </button>
                  <% } %>

            </div>

            <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.time.date %></p> -->

         </div>
         <div class="col-md-5 col-md-offset-1">
             <div class="well">
                 <h4>附件</h4>
                 <hr>
                 <% if(post.file){ %>
                     <span><%= post.file %></span>
                     <span><a href="/files/<%= post.file %>" download class="btn btn-default glyphicon glyphicon-download-alt" style=""></a></span>
                 <% }else{ %>
                     <p>無附件</p>
                 <% } %>
             </div>
         </div>
         <div class="col-md-5">
             <div class="well">
                 <h4>時間</h4>
                 <hr>
                 <p>發布：<%= post.time.date.toLocaleTimeString("TW",{year: "numeric", month: "numeric", hour12: "true"}) %></p>
             </div>
         </div>
          <%- include comment %>
      </div>

   </div>

</section>
<script type="text/javascript">
function star(postname,day,title,username,inc) {

  var data ={
    postname:postname,
    day:day,
    title:title,
    username:username,
    inc:inc
  };

  $.ajax({
          type: 'POST',
          url: 'http://localhost:1209/u/star/',
          data: data,
          dataType: 'application/json',
          success: function(data) {
              console.log('success');
              console.log(data);
          }
      });
      location.reload(true);
}
</script>

<%- include footer %>
