<%- include header %>
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <div class="well">
                    <div class="container">
                        <h1><%= doc.name %></h1>
                        <hr>
                        <p>請完成以下題目</p>
                        <h3><a title="編輯" href="/txt/<%= title %>" > 編輯 </a></h3>
                        <p class="text-danger">*必填</p>
                        <br>
                    </div>
                    <form action="/test/<%= doc.name %>" method="post">
                        <fieldset>
                          <% doc.post.forEach(function(test, index){ %>
                            <div class="col-md-15 col-md-offset-0" >
                                <strong>
                                    <pre ><%= test %></pre>
                                </strong>
                                <% if( index < 16 ) {%>
                                <div class="form-group">
                                    <div class="radio radio-primary">
                                        <label>
                                        <input type="radio" name="<%= index %>" value="A" id="radio1">
                                        選項A
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                        <input type="radio" name="<%= index %>" value="B" id="radio2">
                                        選項B
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                        <input type="radio" name="<%= index %>" value="C" id="radio3">
                                        選項C
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                        <input type="radio" name="<%= index %>" value="D" id="radio4">
                                        選項D
                                        </label>
                                    </div>

                                    <button onclick="appendText(<%= index%>)" type="button">新增</button>
                                    <div id="container<%= index %>">

                                    </div>
                                </div><% } %>


                                <% if(index>=16){ %>
                                  <div class="form-group">
                                      <div class="checkbox">
                                          <label id="check">
                                              <input type="checkbox" name="<%= index %>" value="A">
                                              <span id="check-item">選項A</span>
                                          </label>
                                      </div>
                                      <div class="checkbox">
                                          <label id="check">
                                              <input type="checkbox" name="<%= index %>" value="B">
                                              <span id="check-item">選項B</span>
                                          </label>
                                      </div>
                                      <div class="checkbox">
                                          <label id="check">
                                              <input type="checkbox" name="<%= index %>" value="C">
                                              <span id="check-item">選項C</span>
                                          </label>
                                      </div>
                                      <div class="checkbox">
                                          <label id="check">
                                              <input type="checkbox" name="<%= index %>" value="D">
                                              <span id="check-item">選項D</span>
                                          </label>
                                      </div>
                                  </div>
                                  <% } %>
                                <% }) %>
                            </div>

                        </fieldset>
                        <input type="submit" value="送出答案">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
function appendText(index) {
  var id = "container"+index;
  var node = document.createElement("div");
  node.innerHTML = '<div class="form-group"><div class="radio radio-primary"><label><input type="radio" name="p" value="A" id="radio1">選項A</label></div><div class="radio radio-primary"><label><input type="radio" name="p" value="B" id="radio2">選項B</label></div><div class="radio radio-primary"><label><input type="radio" name="p" value="C" id="radio3">選項C</label></div><div class="radio radio-primary"><label><input type="radio" name="p" value="D" id="radio4">選項D</label></div></div>';
  document.getElementById(id).appendChild(node);

}
</script>
<%- include footer %>
