
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">留言板</h4>
    </div>
      <div class="modal-body">
				<form method="post" class="form-horizontal">
					<fieldset>

						<div class="form-group">
							<div class="col-md-10 ">
								<div class="list-group">
									<div class="list-group-item">
										<div class="row-picture">
											<img class="circle" src="<%= user.head %>" alt="icon">
										</div>
										<div class="row-content">
											<h4 class="list-group-item-heading"><%= user.name %></h4>
											<textarea class=" list-group-item-text form-control" rows="3" id="textArea" name = "content"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						 <div class="modal-footer">
			         <button  class="btn btn-primary">送出</button>
			       </div>
					</fieldset>
				</form>

				<% post.comments.forEach(function(comment, index){  %>
						<div class="list-group">
							<div class="list-group-item">
								<div class="row-picture">
									<img class="circle" src="<%= comment.head %>" alt="icon">
								</div>
								<div class="row-content">
									<h4 class="list-group-item-heading"><a href="<%= comment.website %>"><%= comment.name %></a></h4>

									<p class="list-group-item-text"><%- comment.content %></p>
								</div>
								<span class="info"> 回復於: <%= comment.time %></span></p>
								<% if(user.name == comment.name){ %>
								<a href="/rm_comment/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/<%= comment.content%>">刪除</a>
								<% } %>
							</div>
							<div class="list-group-separator"></div>
						</div>
				<% }) %>
      </div>
    </div>
  </div>
</div>
