
<%- include header  %>
	<form method="post">
	<% if(! user){ %>
  		用戶名: <input type="text" name="name"><br/>
		密碼: <input type="password" name="password"> <br/>
		<input type="submit" value="登入">
		<% } else { %>
		<h4>安安! <%= user.name %></h4>
  		<% } %>
		
	</form>
	<br/><br/>
	<%console.log(Posts);%>
	<% Posts.forEach(function(post){  %>
	<p><h2><a href="#"><%= post.title %></a></h2></p>
	<p class = "info">
		作者: <a href="#"><%= post.name %></a>
		日期: <%= post.time.minute %>
	</p>
	<p><%- post.post %></p>
	<p>======================================================================================================</p>
	<br/>
	<% }) %>


<%- include footer  %>